<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/shared.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<section class="login-section">
    <div class="container grid">
        <section class="login-card card">
            <h1>Empire User Login</h1>
            <form th:action="@{/processLogin}" method="post">
                <div class="form-control">
                    <label for="username">username</label>
                    <input id = username type="text" name="username">
                </div>
                <div class="form-control">
                    <label for="password">password</label>
                    <input type="password" id="password" name="password">

                </div>
                <input type="submit" class="btn btn-primary" value="Login">
            </form>
        </section>
    </div>

</section>

</body>
</html>