<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Bike</title>
    <link th:href="@{/css/shared.css}" rel="stylesheet">
    <link th:href="@{/css/bikeform.css}" rel="stylesheet">
</head>
<body>
<section class="bike-form-section">
    <div class="container grid">
        <div class="bike-form card">
            <h1>Add a bike</h1>
            <form th:action="@{/bike/save}" th:object="${bike}" method="post" enctype="multipart/form-data">
                <div class="form-control">
                    <label for="bikeName">bike name</label>
                    <input type="text" id="bikeName" th:field="*{bikeName}" required>
                </div>
                <div class="form-control">
                    <label for="bikePrice">bike price</label>
                    <input type="number" id="bikePrice" th:field="*{bikePrice}" required>

                </div>
                <div class="form-control">
                    <label for="bikeDescription">bike description</label>
                    <textarea  id="bikeDescription" th:field="*{bikeDescription}" required></textarea>

                </div>

                <div class="form-control">
                    <label >bike image</label>
                    <input  type="file" name="image" accept="image/png" required>

                </div>

                <input type="submit" class="btn btn-primary" value="Save">

            </form>

        </div>

    </div>

</section>

</body>
</html>