<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File Limit</title>
  <link th:href="@{/css/shared.css}">
  <style>
    .error-section .error{
      padding: 50px;
      background-color: red;
      color: white;
      text-align: center;
      font-size: 30px;
      width: 100%;
    }
  </style>
</head>
<body>
<section class="error-section">
  <div class="container grid">
    <div class="error">
      <h1>The Image is too large!</h1>

    </div>

  </div>

</section>

</body>
</html>